main {
    position: relative;
}

section {
    padding-top: 3rem;
}

#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;

    text-align: center;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}


.section-title {
    font-size: calc(1.7rem + .6vw);
    margin-bottom: 0.5rem;
}

.profile {
    .name {
        font-size: calc(1.5rem + .6vw);
        font-weight: bolder;
    }

    p {
        font-size: 1.5rem;
    }

    div {
        display: flex;
        justify-content: center;
    }

    .pfp {
        // border: 2px solid white;
        // border-radius: 25%;
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 10px;
    }
}

.later {
    height: 100%;
    display: flex;
    align-items: center;
}

.stripes {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: repeating-linear-gradient(
        45deg,
        yellow,
        yellow 10px,
        black 10px,
        black 20px
    );

    p {
        color: black;
        font-size: 2rem;
        background-color: white;
        padding: 10px;
        border-radius: 16px;
    }
}

.bars {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: start;

    h3 {
        margin-left: 10px;
    }
}

.lang {
    width: 100%;
    height: 60px;
}

.bar {
    text-align: right;
    padding: 12px 10px 15px 10px;
    background-color: $nord-3;
    border-radius: 12px;
}

.python {width: $python;}
.html {width: $html;}
.css {width: $css;}
.js {width: $js}
.java {width: $java;}


#skills {
    h3 {
        text-align: center;
    }
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.skill-title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.skill {
    background-color: $nord-3;
    height: 10rem;
    width: 12rem;
    border-radius: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    &:hover {
        background-color: $nord-2;

        img {
            transform: scale(1.1) rotate(8deg);
        }
    }

    p {
        font-size: 1.25rem;
    }

    img {
        height: 70px;
        width: 70px;
        transition: 0.4s all ease;
    }

}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 88px;
}

.wave .shape-fill {
    fill: $nord-4;
}

#contact {
    text-align: center;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    a {
        padding: 1rem;
        background-color: $nord-3;
        border-radius: .5rem;
        font-size: 17px;
        display: flex;
        gap: 1rem;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: $nord-2;
        }

    }

}


footer {
    margin: 1.5rem 1.5rem;
    padding: 1rem 1rem;
}

.footer {
    font-size: 17px;
}

.fa-heart {
    color: red;
}

.links {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
    margin-bottom: 1rem;

    li {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

.copyright {
    text-align: center;
}

.nord {
    a {
        &:hover {
            color: green;
        }
    }
}