---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import '../styles/styles.css'
---

<Layout title="Kertrix">
	<div id="background__noisy"></div>
	<main class="h-screen container mx-auto">
		<Header />
	</main>
</Layout>