<div class="max-w-4xl mx-auto py-28 flex flex-col gap-8 px-6">
  <div>
    <h1 class="text-green-500 text-center font-bold text-4xl"><span id="print" /></h1>
    <h1 class="bg-clip-text text-transparent text-center font-bold text-6xl pt-2 title">Hey <span class="text-white">👋</span>, I'm Kertrix<span class="text-green-500 text-4xl">")</span></h1>
  </div>
  subitlte
  </h1>
  
</div>
<script>
	import Typed from 'typed.js';
	var typed = new Typed('#print', {
			strings: ['print("', 'console.log("', 'System.out.println("'],
			typeSpeed: 150,
			backSpeed: 75,
			loop: true,
	});
</script>